* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Loader */
.spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 990;
  background-color: #00000050;
}
.form-btn{
  width: 200px !important;
  height: 2.5rem;
  margin-top: 1rem !important;
}